.avatar {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0.5rem;
}

.avatar-xs {
  width: 2.25rem;
  height: 2.25rem;
}

.avatar-sm {
  width: 2.75rem;
  height: 2.75rem;
}

.avatar-md {
  width: 3.5rem;
  height: 3.5rem;
}

.avatar-lg {
  width: 4.25rem;
  height: 4.25rem;
}

.avatar-xl {
  width: 5rem;
  height: 5rem;
}

.avatar-square {
  border-radius: 0.25rem;
}
