/* Display */

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.hide {
  display: none;
}

/* Positions */

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

/* Text */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.text-linethrough{
  text-decoration: line-through;
}

.gray-text {
  color: var(--shadow-color);
}

.green-text {
  color: var(--success-txt);
}

.red-text {
  color: var(--error-txt);
}

.text-sm {
  font-size: 0.8rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.text-xxl {
  font-size: 2.5rem;
}

/* Heading */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

/* align-children */

.children-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.children-stacked {
  display: flex;
  flex-direction: column;
}

.children-stacked-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gap-sm{
    gap: .5rem;
}
