@import url(../stylesheets/index.css);

.nav {
  background-color: var(--primary-lighter);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  font-size: 1.5rem;
  font-weight: 900;
  padding-left: 5rem;
}
.right-nav {
  padding-right: 2rem;
  gap: 2rem;
  font-weight: 700;
}

.doc-main {
  margin: 0 5rem;
  padding-bottom: 5rem;
  flex-direction: column;
  align-items: center;
}

.logo {
  justify-content: center;
  margin: 1rem;
}

.doc-sidebar {
  padding: 1rem;
  flex: 0 0 250px;
  overflow-y: auto;
  height: 80vh;
}

.doc-content {
  padding: 1rem;
  margin: 0 2rem;
}

.doc-img {
  width: 16rem;
  height: auto;
}

.subhead {
  padding: 1rem;
  width: 60%;
}

.doc-body {
  margin: 1rem 5rem 0 5rem;
}

/* add this color to variables */
.c-example {
  padding: 2rem;
  background-color: hsl(200deg 4% 85% / 26%);
}

.c-code {
  overflow-x: auto;
}

.list-item:hover {
  background-color: var(--primary-lighter);
}

.doc-nav {
  color: black;
  display: none;
  text-align: center;
}
.doc-nav-bottom {
  justify-content: space-between;
  color: var(--primary-dark);
}

.center {
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.doc-nav-active {
  background-color: var(--primary-lighter);
  font-weight: 600;
}

.doc-sidebar::-webkit-scrollbar {
  width: 0.3rem;
}

.doc-sidebar::-webkit-scrollbar-track {
  background: var(--grey-bg);
}

.doc-sidebar::-webkit-scrollbar-thumb {
  background: var(--primary-darker);
}

/* overriding only for example, code in highlight js will have fixed position*/
.toast-example {
  position: absolute;
}

pre {
  font: 400 0.8125em/1.4375, "Menlo", "Consolas", "DejaVu Sans Mono" monospace;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 – Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

@media screen and (max-width: 800px) {
  .nav {
    flex-direction: column;
  }
  .left-nav {
    padding-left: 0;
  }
  .right-nav {
    padding-right: 0;
  }
  .subhead {
    width: 100%;
  }
  .doc-main {
    margin: 0;
  }
  .doc-img {
    width: 10em;
    height: 10em;
  }
  .doc-body {
    flex-direction: column;
    margin: 0;
  }
  .doc-content {
    padding: 1rem;
    margin: 1rem;
  }
  .center {
    flex-direction: column;
  }
  .doc-nav {
    display: block;
    text-align: center;
  }
}

.grid-item {
  border: 1px solid;
}

/* css changes */

/* modify in button */
.btn {
  font-size: 0.8rem !important;
}

.list-item {
  cursor: pointer;
}

/* modify this in badge */
.badge-avatar {
  top: 0;
  right: 0;
}
/* modify in card */
.card {
  background-color: white;
}
/* modify this in avatar */

.avatar {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 0.5rem;
}

.avatar-xs {
  width: 2.25rem;
  height: 2.25rem;
}

.avatar-sm {
  width: 2.75rem;
  height: 2.75rem;
}

.avatar-md {
  width: 3.5rem;
  height: 3.5rem;
}

.avatar-lg {
  width: 4.25rem;
  height: 4.25rem;
}

.avatar-xl {
  width: 5rem;
  height: 5rem;
}
